

<h3>Add New Thing</h3>

<div class="formSection">
  <label>Thing name:</label>
  <br>
  <input #newThingName>
  <br>
</div>

<div class="formSection">
  <label>Box thing goes in:</label>
    <select>
      <option>Default option no value</option>
      <option *ngFor="let box of boxes | async" [value]="box.$key">{{box.name}}</option>
    </select>
    <br>
</div>

  <div class="formSection">
    <label>Room thing goes in:</label>
    <select>
      <option>Default option no value</option>
      <option *ngFor="let room of rooms | async" [value]="room.$key">{{room.name}}</option>
    </select>
    <br>
  </div>
