.createForm {
  border: 2px solid black;
  grid-column: 3 / 3;
  grid-row: 1 / 1;
}

.displayContent {
  border: 2px solid red;
  grid-column: 1 / 1;
  grid-row: auto;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  grid-template-rows: auto;
  grid-gap: 10px;
}
